body {
  margin: 0;
}
.hr {
  border: 2px solid $Color-Prymary;
}
.container {
  width: 90%;
  margin: 0 auto;
}

@mixin btn-size {
  padding: 5px 20px;
  margin: $Margin-normal;
  font-size: $Font-parrafo;
  border-radius: 20px;
}