@import '../globals.scss';
@import '../tokens/colors.scss';
@import '../tokens/typos.scss';
@import '../tokens/spacing.scss';
@import '../vendors/grid.scss';

a {
    margin-left: $Spacing-ExtraLarge;
    font-size: $Font-Paragraph;
    text-decoration: none;
    color: $Color-Grayscale-1;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.nav {
    display: flex;
    padding: $Spacing-Small 0;
    background-color: $Color-Primary;
}

.submenu {
    position: absolute;
    top: $Spacing-ExtraLarge +20;
    left: 0;
    display: none;
    padding: $Spacing-Small 0;
    width: 100%;
    background-color: $Color-Primary;
    .icon {
        height: $Spacing-Normal*2;
        width: $Spacing-Large;
    }
    & a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

.nav:hover ~ .submenu, .submenu:hover {
    display: flex; 
}