$Gradient: linear-gradient(to right, #DB6766, #B42469);
$Color-Marca: #76BD43;
$Color-Primary: #1e0f33; // R:48  G:29  B:74
$Color-Secondary: #B42469; // R:180  G:36  B:105
$Color-Facebook: #1877F2;

$Color-Positive: #45D567; //R:69  G:213  B:103
$Color-Negative: #D81C1C; //R:216  G:28  B:28

$Color-Grayscale-1: #fff;   // R:255  G:255  B:255
$Color-Grayscale-2: #F0EEF3; // R:240  G:238  B:243
$Color-Grayscale-3: #DBD9DD; // R:219  G:217  B:221
$Color-Grayscale-4: #B6B2BB; // R:182  G:178  B:187
$Color-Grayscale-5: #948F9B; // R:148  G:143  B:155
$Color-Grayscale-6: #736C7C; // R:115  G:108  B:124
$Color-Grayscale-7: #4D4459; // R:77  G:68  B:89
$Color-Grayscale-8: #2A1F38; // R:42  G:31  B:56