body {
  margin: 0;
}

.hr {
  border: 2px solid #1e0f33;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.containerButtons__disable, .containerButtons__active, .containerButtons__normal {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  padding: 20px;
}

.containerButtons {
  display: flex;
  width: 100%;
  font-family: "Maven Pro", sans-serif;
}

.btn-normal {
  padding: 5px 20px;
  margin: 30px;
  font-size: 24px;
  border-radius: 20px;
  background: linear-gradient(to right, #DB6766, #B42469);
  color: #fff;
  border: none;
}

.btn__normal-transparent {
  background: transparent;
  color: #B42469;
  border: 2px solid #B42469;
  border-radius: 20px;
}

.btn__disable {
  background: #F0EEF3;
}