@import '../globals.scss';
@import '../tokens/colors.scss';
@import '../tokens/typos.scss';
@import '../tokens/spacing.scss';

%btn {
    padding: $Spacing-ExtraSmall $Spacing-Normal;
    border: none;
    border-radius: 70px;
    font-family: $Font;
    font-size: $Font-Paragraph;
    font-weight: $Bold;
    outline: none;
    &:hover {
        cursor: pointer;
    }
}

.btn__normal {
    @extend %btn;
    color: $Color-Grayscale-1;
    background: $Gradient;
}