@import '../globals.scss';
@import '../tokens/colors.scss';
@import '../tokens/typos.scss';
@import '../tokens/spacing.scss';
@import '../vendors/grid.scss';
@import '../foundations/fonts.scss';

.Sidebar {
  height: 100vh;
  padding: $Spacing-Normal 0;
  color: #ffffff;
  background-color: $Color-Primary-Light-1;

  &__logo {
    padding: 0 0 $Spacing-Normal;

    & img {
      width: 50%;
    }
  }

  & h3 {
    font-size: $Font-Paragraph;
    margin-left: $Spacing-Small;
    margin-bottom: $Spacing-Small;
  }

  &__design-system {
    height: 70%;
    padding: 0 $Spacing-ExtraSmall 0 $Spacing-Small;
    overflow-y: auto;

    & h4 {
      opacity: .5;
    }
  }

  &__link {
    margin-left: 0;
    font-size: $Font-Small;
  }
}