//------------------------------------------ Tipografía
$Font-principal: 'Maven Pro', sans-serif;

//------------------------------------------ Tamaños y Caracteristicas
$Font-small: 16px;
$Font-parrafo: 24px;
$Font-h3: 32px;
$Font-h2: 40px;
$Font-h1: 48px;
$Font-h0: 56px;

$Regular: 400px;
$Medium: 500px;
$Bold: 700px;
$Black: 900px;